*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    max-width: 100vw;
    height: 100vh;
    font-family: sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
h2{
       color: #8e8e8e;
}
.cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 185, 141);
    padding: 5px;
}
.bloc1{
    width: 100%;
    background-color: #ffecd2;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2cap ;
    font-style: 25px;
     border: 2px solid;
}
.bloc1 h1 {
    color: red;
   font-size: 35px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.bloc2{
    width: 100%;
  
    margin-bottom: 10px;
    border-radius: 5px;
   display: grid;
   grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: start;
    
    grid-gap: 5px;
}
.menu{
    border: 2px solid;
      background-color: #ffecd2;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3px;
     border-radius: 2cap;
}
.lineMenu{
 list-style: none;
 
}
.lineMenu a{
     text-decoration: none;
     color: rgb(69, 97, 158);
}
.titre{
    border: 3px solid;
    height: 100%;
    grid-column: span 2;
      background-color: #ffecd2;
      border-radius: 2cap;
      padding: 3px;
}
.titre h2{
    position: relative;
    left: 25%;
    color: #8e8e8e;
}